img {

  width: 100%;
}
.initial-hidden {
  display:none;
}

.moveMeassage {
  margin-left: 100px;
}


.testBox {
      position: fixed;
      display: none;
      width: 400px;

      background-color: white;
      opacity: .8;
      z-index: 2;
      cursor: pointer;
      border: solid;
  }

.profile {
border: solid;
width: 400px;
padding: 20px;
}

.messageButton {
  border: solid;
  float: right;
}

#test {
  display: none;
}
#test1 {
  display: none;
}
#test2 {
  display: none;
}

.newMessage {
  display: none;
  float: right;
}
.box1 {
  text-align: right;
}



.pickUp {
  display: none;
}
.dateLoc {
  display: none;
}
.doesNothing {
  display: none;
}
.sendMsg {
  text-align: left;
}
p#answer1 {
  display: none;
  text-align: left;
}
p#answer2 {
  display: none;
  text-align: left;
}
p#answer3 {
  display: none;
  text-align: left;
}
